/*
Theme Name: finance by ENERO studio
Theme URI: https://www.enero-studio.com/
Author: ENERO studio
Author URI: https://www.enero-studio.com/
Description: Specially created for "Premium Credit" LLC.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, blue, red, orange, responsive, multicolumn
*/
@import 'bootstrap/bootstrap';
@import 'font-awesome/font-awesome';
@import 'animate-css/animate';
@import 'owl-carousel/owl.carousel';

// rem calc
@function rem($size) {
  $rem-size: $size / 16px;
  @return #{$rem-size}rem;
}

// background mixin
@mixin background-image($image-url) {
  background:      url($image-url) no-repeat center center;
  background-size: cover;
}

// fonts
@font-face {
  font-family: 'Webly Sleek UI';
  font-weight: normal;
  font-style:  normal;
  src:         url('src/fonts/ttf/weblysleekuisl.ttf') format('truetype');
}

@font-face {
  font-family: 'Webly Sleek UI';
  font-weight: bold;
  font-style:  normal;
  src:         url('src/fonts/ttf/weblysleekuisb.ttf') format('truetype');
}

$openSans: 'Open Sans', sans-serif;

// colors
$gray-alternative: #585858;
$gray-light: #b7b7b7;
$grayPageContent: #e6e6e6;
$primary-main: #002e53;
$primary-dark: #002264;
$primary-darker: #000e23;
$info-dark: #023d40;
$success-dark: #064d06;
$danger-dark: #570206;
$warning-alternative: #715400;
$warning-dark: #544804;

// owlCarousel flickering fix
.owl-item {
  transform: translateZ(0);
}

// backgrounds
.bg-dark {
  background-color: $black;
}

.bg-faded {
  background-color: $grayPageContent;
}

.bg-primary-gradient {
  background: linear-gradient(to right, rgba(0, 31, 97, 1) 0%, rgba(0, 51, 117, 1) 100%);
}

.bg-warning-gradient {
  background: linear-gradient(to right, rgba(255, 159, 29, 1) 0%, rgba(255, 175, 53, 1) 100%);
}

.bg-success-gradient {
  background: linear-gradient(to right, rgba(92, 184, 92, 1) 0%, rgba(7, 183, 7, 1) 100%);
}

.bg-info-dark {
  background-color: $info-dark;
}

// classes
.sticky-xl {
  @include media-breakpoint-up(xl) {
    position: sticky !important;
    top:      0 !important;
  }
}

.text-dark {
  color: $black;

  &:hover {
    color: lighten($black, 40);
  }
}

// buttons
.btn-primary {
  @extend .bg-primary-gradient;

  &:active {
    @extend .bg-primary-gradient;
  }

  &:hover {
    opacity: .8;
  }
}

.btn-warning {
  @extend .bg-warning-gradient;
  @extend .text-white;

  &:active {
    @extend .bg-warning-gradient;
  }

  &:hover {
    opacity: .8;
  }
}

.btn-success {
  @extend .bg-success-gradient;

  &:active {
    @extend .bg-success-gradient;
  }

  &:hover {
    opacity: .8;
  }
}

// font-awesome override
.fa-sm {
  font-size: 65% !important;
}

.page-header-title {
  position:         absolute;
  top:              0;
  bottom:           0;
  right:            0;
  left:             0;
  background-color: rgba($black, .6);
}

.position-relative {
  position: relative;
}

.w-sm-down-100 {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

// shadows
.shadow {
  box-shadow: 0 0 rem(10px) 0 rgba(0, 0, 0, .05);
}

.shadow-xs {
  box-shadow: 0 0 rem(12px) 0 rgba(0, 0, 0, .12);
}

// END OF CLASSES

// main options
body {
  min-height: 100vh;

  &.lang-ru {
    font-family: $openSans;

    button, input, textarea {
      font-family: $openSans;
    }
  }
}

a, a i {
  transition: color .4s, background-color .4s;
}

input, textarea, button {
  font-family: $font-family-base;
}

button {
  font-family: $font-family-base;

  &:focus,
  &:active {
    outline: 0;
  }
}

strong {
  @extend .font-weight-bold;
}

.btn {
  @extend .border-0;

  &:hover {
    cursor: pointer;
  }
}

.card {
  overflow: hidden;
}

// owl carousel options
.owl-nav {
  @extend .mt-0;
}

.owl-prev, .owl-next {
  position:   absolute;
  background: none !important;
  opacity:    .3;
  transition: opacity .4s;

  &:hover {
    opacity: .8;
  }
}

.owl-dots {
  position: absolute;
  left:     0;
  right:    0;
  bottom:   rem(10px);

  .owl-dot {
    span {
      width:      rem(5px);
      height:     rem(5px);
      margin:     rem(5px) rem(6px);
      background: rgba($white, .2);
    }

    &.active {
      span {
        background: rgba($white, .7);
      }
    }
  }
}

// contact form 7
.wpcf7-response-output {
  margin:        rem(30px) 0 0 !important;
  padding:       rem(20px) !important;
  border:        0 !important;
  border-radius: $border-radius;
  @extend .text-center;
}

.wpcf7-validation-errors {
  background-color: $red !important;
  color:            $white;
}

.wpcf7-mail-sent-ok {
  background-color: $green !important;
  color:            $white;
}

.wpcf7-not-valid {
  border-color: $red !important;
}

.wpcf7-not-valid-tip {
  color:     $red !important;
  font-size: .8rem !important;
}

.wpcf7-list-item {
  @extend .ml-0;
}

.ajax-loader {
  @extend .d-none;
}

// header exchange rates
#header-exchange-rates-container {
  font-size: rem(13px);
  @include background-image('src/img/currencies-section-background.jpg');

  #exchange-section-mobile-toggler {
    padding:          rem(15px) 0;
    font-size:        rem(20px);
    background-color: rgba($black, .2);
    @extend .text-white;
  }

  ul {
    background-color: rgba($white, .05);

    @include media-breakpoint-down(sm) {
      border-radius: rem(10px);
    }
  }

  @include media-breakpoint-up(md) {
    font-size:  rem(11px);
    background: linear-gradient(to right, rgba(0, 31, 97, 1) 0%, rgba(0, 51, 117, 1) 100%);
  }
}

// header
#main-logo {
  @include media-breakpoint-up(xl) {
    position:      fixed;
    top:           0;
    z-index:       1040;
    left:          rem(100px);
    border-radius: 0 0 rem(30px) rem(30px);
    box-shadow:    0 0 rem(20px) 0 rgba(0, 0, 0, .15);
  }

  img {
    width: rem(220px);

    @include media-breakpoint-only(xl) {
      width: rem(200px);
    }
  }
}

// languages-bar
.language-bar {
  ul {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    @extend .m-0;
    @extend .p-0;

    li {
      @extend .position-relative;
      width:           rem(32px);
      height:          rem(32px);
      margin:          rem(10px) rem(2px);
      background-size: rem(27px) !important;
      background:      transparent no-repeat center;
      font-size:       0 !important;
      transition:      transform .3s;

      &.en {
        background-image: url('src/img/flags/en.svg');
      }
      &.hy {
        background-image: url('src/img/flags/hy.svg');
      }
      &.ru {
        background-image: url('src/img/flags/ru.svg');
      }

      &.current {
        @extend .d-none;
      }

      &:hover {
        transform: scale(1.2);
      }

      a {
        position:  absolute;
        top:       0;
        left:      0;
        width:     rem(32px);
        height:    rem(32px);
        font-size: 0 !important;
      }

      span {
        @extend .d-none;
      }
    }
  }

  &#d-language-bar {
    position:   absolute;
    top:        100%;
    right:      rem(20px);
    background: rgba($white, .5) !important;
    max-width:  rem(250px);

    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }
}

// navbar
.main-navbar {
  z-index:    1030;
  border-top: rem(1px) solid lighten($gray-light, 22);
  background: rgba($white, .98);
  box-shadow: 0 rem(2px) rem(5px) 0 rgba(0, 0, 0, .1);
  transition: top .2s ease-in-out;

  @include media-breakpoint-up(xl) {
    animation-name:     slideInDown;
    animation-duration: .4s !important;

    &.window-scrolled {
      animation-name: slideOutUp;
    }
  }

  .navbar-inner {
    @include media-breakpoint-down(xl) {
      padding: 0;
      width:   100%;
    }
  }

  #main-menu {
    @extend .d-flex,
    .flex-wrap,
    .flex-xl-nowrap,
    .align-items-center,
    .justify-content-xxl-end,
    .list-unstyled,
    .ml-0,
    .ml-md-auto,
    .mr-xxl-5,
    .mb-0;

    @include media-breakpoint-up(xl) {
      width: 100%;
    }

    ul {
      @include media-breakpoint-up(xl) {
        width: auto !important;
      }
    }

    a {
      @extend .w-100;
      @extend .text-uppercase;
      @extend .d-xl-inline-flex;
      color:     darken($gray-light, 40);
      font-size: rem(14px);
      padding:   rem(15px);

      @include media-breakpoint-up(xl) {
        padding: rem(20px) rem(16px);
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }

    li {
      @extend .d-flex;
      @extend .d-xl-inline-flex;
      @extend .align-items-center;
      width: 100%;

      @include media-breakpoint-up(xl) {
        width: auto;
      }

      &:not(.current-menu-item) a:hover,
      &:not(.current-menu-item) a:focus {
        @extend .bg-primary-gradient;
        text-decoration: none;
        color:           $white;

        &::after {
          color: $white;
        }
      }

      &.current-menu-item > a {
        @extend .font-weight-bold;
        color: $black;

        &:hover {
          @extend .bg-primary-gradient;
          color: $white;
        }
      }

      &.current-menu-parent > a {
        @extend .font-weight-bold;

        &::after {
          color: $black;
        }

        &:hover {
          @extend .bg-primary-gradient;
          color: $white;
        }
      }

      &.menu-item-has-children {
        @extend .align-items-center;
        @extend .flex-wrap;
        @extend .position-relative;
        display: flex;

        &:hover > .sub-menu {
          @extend .d-block;
        }

        > a {
          @extend .d-flex;
          @extend .w-100;

          &::after {
            @extend .pl-1;
            content:         '\f107';
            font-family:     FontAwesome;
            font-weight:     normal;
            font-style:      normal;
            margin:          auto 0 auto auto;
            color:           darken($gray-light, 40);
            text-decoration: none;
            transition:      color .4s, background-color .4s;

            @include media-breakpoint-up(xl) {
              font-size: rem(15px);
            }
          }
        }

        .sub-menu {
          .menu-item-has-children {
            > a {
              &::after {
                content: '';
              }
            }
          }
        }
      }

      .sub-menu {
        @extend .bg-primary-gradient;
        @extend .list-unstyled;
        @extend .position-relative;
        @extend .w-100;
        @extend .pl-0;
        display: none;
        top:     0;
        left:    0;
        z-index: 2;

        a {
          font-size: rem(12px);
          padding:   rem(10px) rem(15px);
          color:     $white;

          &:hover, &:focus {
            @extend .text-primary;
            background: $white;
          }
        }

        .current-menu-item > a {
          @extend .text-primary;
          background: $white; // poxel
        }

        .sub-menu {
          display: none;
        }

        @include media-breakpoint-up(xl) {
          position: absolute;
          top:      100%;
          width:    150% !important;

          li {
            width: 100%;
          }

          .sub-menu {
            left:  100%;
            right: auto;
            top:   0;
          }
        }

        .menu-item-has-children:hover {
          .sub-menu {
            @extend .d-block;
          }
        }
      }
    }
  }

  #mobile-navbar-toggler {
    padding:          rem(15px) 0;
    font-size:        rem(20px);
    background-color: $blue;
  }
}

// main content
main {
  flex: 1;

  &.page-content {
    background-color: $grayPageContent;
  }
}

// standard pages
.page-header {
  height:           auto;
  background-image: url('src/img/news-page-header-background.svg');

  .page-information {
    @extend .page-header-title;
  }

  .credit-information > * {
    color: darken($white, 18);
  }

  &.credit-page-header {
    @extend .position-relative;
    height: rem(450px);

    img {
      object-fit: cover;
    }

    @include media-breakpoint-up(xxxl) {
      height: rem(350px);
    }
  }
}

.navigation.pagination {
  width: 100%;

  .nav-links {
    @extend .w-100;
    @extend .text-center;
    @extend .mt-2;
    font-size: 1.2rem;

    .page-numbers {
      color:  $gray-light;
      margin: rem(5px) rem(3px);

      &:hover {
        color: darken($gray-light, 40);
      }
    }

    .current {
      @extend .font-weight-bold;
      @extend .text-dark;
      font-size: 2rem;
    }
  }
}

// custom pages
#homepage {
  // homepage carousel
  #homepage-carousel {
    img {
      height:     100%;
      object-fit: cover;

      @include media-breakpoint-up(md) {
        height: rem(500px);
      }

      @include media-breakpoint-up(xxxl) {
        height: rem(800px);
      }
    }

    .owl-stage-outer {
      @include media-breakpoint-up(md) {
        height: rem(500px) !important;
      }

      @include media-breakpoint-up(xxxl) {
        height: rem(800px) !important;
      }
    }

    .owl-prev, .owl-next {
      top:       70%;
      font-size: rem(30px);

      @include media-breakpoint-up(sm) {
        top: 72%;
      }
      @include media-breakpoint-up(md) {
        top:       35%;
        font-size: rem(60px);
      }
    }
    .owl-prev {
      left: 0;

      @include media-breakpoint-up(md) {
        left: rem(20px);
      }
    }

    .owl-next {
      right: 0;

      @include media-breakpoint-up(md) {
        right: rem(20px);
      }
    }
    .slide-text {
      color: rgba($white, .7);
    }

    .slide-content {
      @extend .position-relative;
      max-width: 100%;

      @include media-breakpoint-up(md) {
        max-width:     50%;
        position:      absolute;
        bottom:        rem(80px);
        border-radius: rem(30px);
      }
      @include media-breakpoint-up(xl) {
        max-width: 30%;
      }
    }

    .slide-title {
      @include media-breakpoint-down(sm) {
        font-size: 1.3rem;
      }
    }

    .owl-item:nth-child(even) {
      @extend .bg-warning-gradient;

      .slide-content {
        @extend .bg-warning-gradient;

        @include media-breakpoint-up(md) {
          right: rem(120px);
        }
        @include media-breakpoint-up(lg) {
          right: rem(130px);
        }
      }
    }

    .owl-item:nth-child(odd) {
      @extend .bg-primary-gradient;

      .slide-content {
        @extend .bg-primary-gradient;

        @include media-breakpoint-up(md) {
          left: rem(120px);
        }
        @include media-breakpoint-up(lg) {
          left: rem(130px);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .owl-stage {
        display: flex;
      }
    }
  }
}

#management {
  @include media-breakpoint-down(sm) {
    .card > .col-12 {
      flex: none;
    }
  }

  .user-avatar {
    max-width: rem(200px);
  }
}

#page-investors {
  .card > div {
    flex: none;
  }
}

#page-reports {
  .card {
    border-radius: rem(5px);
  }

  .card-header {
    border-radius: rem(5px) rem(5px) 0 0;
    transition: opacity .3s;

    &:hover {
      opacity: .9;
    }
  }

  [data-toggle="collapse"] {
    i {
      transition: transform .4s;
    }

    &.collapsed {
      i {
        transform: rotate(180deg);
      }
    }
  }
}

// credits carousel
.credits-carousel {
  @extend .position-relative;

  .item {
    height:   rem(200px);
    overflow: hidden;

    &:hover {
      .overlay {
        border-color: rgba($orange, .7);
      }

      img {
        transform: scale(1.3);
      }
    }

    @include media-breakpoint-up(xxxl) {
      height: rem(230px);
    }
  }

  .overlay {
    position:         absolute;
    top:              0;
    bottom:           0;
    right:            -1px;
    left:             0;
    background-color: rgba($black, .5);
    box-shadow:       0 0 rem(10px) 0 rgba(0, 0, 0, .3);
    transition:       border-color .4s;
  }

  img {
    object-fit: cover;
    transition: transform .4s;
  }

  .title {
    @extend .text-white;
    position:       absolute;
    top:            0;
    left:           0;
    font-size:      1.2rem;
    letter-spacing: 1px;
  }

  .owl-prev, .owl-next {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .h-100;
    top:           0;
    margin:        0;
    padding:       0;
    border-radius: 0;
    width:         rem(100px);
    font-size:     rem(30px);
    color:         $white;
    opacity:       .7;

    &:hover {
      opacity: 1;
    }

    @include media-breakpoint-up(md) {
      font-size: rem(40px);
    }
  }

  .owl-prev {
    @extend .justify-content-start;
    background: linear-gradient(to right, rgba($black, 1) 0%, rgba($black, 0) 100%) !important;

    i {
      @extend .ml-1;
    }
  }

  .owl-next {
    @extend .justify-content-end;
    background: linear-gradient(to right, rgba($black, 0) 0%, rgba($black, 1) 100%) !important;
    right:      0;

    i {
      @extend .mr-2;
    }
  }
}

// news
.latest-news {
  .card {
    transition: box-shadow .4s;

    img {
      width:      100%;
      height:     rem(150px);
      object-fit: cover;
      transition: width .4s;

      &:hover {
        width: 120%;
      }
    }

    p:not(.card-text) {
      font-size: rem(11px);
    }

    &:hover {
      @extend .shadow-xs;
    }
  }

  &.latest-news-single {
    .card {
      img {
        @extend .h-100;
      }

      &:hover {
        img {
          @extend .w-100;
        }
      }
    }
  }
}

.news-single-header {
  background-color: #4a4c4e;
}

// contacts
#contacts {
  #google-maps {
    height: rem(300px);

    @include media-breakpoint-up(xxxl) {
      height: rem(400px);
    }
  }

  .address-section {
    @include background-image('src/img/address-section-background.jpg');
  }

  .call-us-section {
    @include background-image('src/img/call-us-section-background.jpg');
  }
}

// subscription-section-background
.subscription-section {
  @include background-image('src/img/subscription-section-background.jpg');

  .wpcf7-form-control-wrap {
    @include media-breakpoint-only(md) {
      margin-left: auto;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .wpcf7-response-output {
    height:    auto !important;
    padding:   rem(10px) !important;
    font-size: .7rem !important;
  }
  .wpcf7-not-valid-tip {
    display: none !important;
  }

  @include media-breakpoint-down(sm) {
    .btn {
      width: 100%;
    }
  }
}

// credit-modal
.credit-modal {
  .modal-header {
    @extend .position-relative;
    height: rem(180px);

    img {
      object-fit: cover;
    }

    .modal-title {
      @extend .page-header-title;
    }

    .close {
      position: absolute;
      top:      0;
      right:    0;
    }
  }
}

// loan calculator
#loan-calculator-page {
  .page-header {
    background-color: #0e316d;
  }

  #loan-table-container {
    max-height: rem(400px);
    overflow-y: auto;
  }
}

// footer
footer {
  background-color: lighten($black, 3);

  .footer-logo {
    filter: brightness(4);
  }

  ul {
    a {
      color:         rgba($white, .4);
      border-radius: rem(10px);

      &:hover {
        color:            rgba($white, .7);
        background-color: rgba($white, .1);
        text-decoration:  none;
      }
    }
  }

  .bottom-footer {
    p {
      color:          rgba($white, .3);
      font-size:      70%;
      letter-spacing: 1px;
    }

    .enero-logo:hover {
      background-color: rgba($white, .1);
    }
  }
}
