// main options
$border-radius: 1rem;

// colors
$yellow: #fad537;
$blue: #043960;
$red: #b50009;
$orange: #f0ad4e;
$green: #26a326;
$teal: #3eb9de;
$pink: #f73f5f;
$purple: #633287;

$colors: (
             blue: $blue,
             purple: $purple,
             pink: $pink,
             red: $red,
             orange: $orange,
             yellow: $yellow,
             green: $green,
             teal: $teal,
             white: $white,
             gray: $gray-600,
             gray-dark: $gray-800
         );

$theme-colors: (
                   primary: $blue,
                   secondary: $gray-600,
                   success: $green,
                   info: $cyan,
                   warning: $orange,
                   danger: $red,
                   light: $gray-100,
                   dark: $black
               );

// fonts
$font-family-sans-serif: Webly Sleek UI, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-weight: bold;
$small-font-size: 85%;

// links and buttons
$link-color: darken($orange, 10);
$link-hover-color: darken($link-color, 15%);

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;
$link-hover-decoration: none;

// cards
$card-border-width: 0;
$card-border-radius: 1rem;

// inputs
$input-placeholder-color: $gray-500;

// modals
$modal-backdrop-opacity: .9;

// spacers
$spacers: (
              0: 0,
              1: ($spacer * .625),
              2: ($spacer * 1.25),
              3: ($spacer * 1.875),
              4: ($spacer * 2.5),
              5: ($spacer * 3.125),
              6: ($spacer * 3.75),
              7: ($spacer * 4.375),
              8: ($spacer * 5),
              9: ($spacer * 5.625),
              10: ($spacer * 6.25)
          );

// sizes
$sizes: (
            20: 20%,
            25: 25%,
            40: 40%,
            50: 50%,
            60: 60%,
            75: 75%,
            100: 100%
        );

// breakpoints
$grid-breakpoints: (
                       xs: 0,
                       sm: 576px,
                       md: 768px,
                       lg: 992px,
                       xl: 1200px,
                       xxl: 1680px,
                       xxxl: 2000px
                   );
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

// container max-widths
$container-max-widths: (
                           sm: 540px,
                           md: 720px,
                           lg: 960px,
                           xl: 1140px,
                           xxl: 1400px,
                           xxxl: 1600px
                       );